body{
    background-image: url(./assets/digimon.jpg) !important;
}
.active{
    color: azure;
    font-size: 25px;
}
#get-digimon{
border-radius: 10px;
}
.navbar{
    width: 100%;
   height: 100%;
  background-color: brown;
   
    
}

#list{
    display: flex !important;
    justify-content: center !important;
    color: black;

}

#test{
background-color: blueviolet !important;

}

#search{
display: flex !important;
justify-content: center !important;
}

.nombresdigi{
    color:darkblue !important;
    font-size: 15px !important;
    ;

}